{% extends 'admin/master.html' %}
{% from "security/_macros.html" import render_field, render_field_with_errors, render_checkbox_field %}
{% include "security/_messages.html" %}
{% block body %}
{{ super() }}
<br><br><br><br><br>
<section class="content">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="well">
                <h1>{{ _('Login') }}</h1>
            <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                {{ login_user_form.hidden_tag() }}
		<div class="form-group">
    			<label for="email">{{ _('Email') }}</label> <input class="form-control" id="email" name="email" required="" type="text" value="">
		</div>
		<div class="form-group">
   	 		<label for="password">{{ _('Password') }}</label> <input class="form-control" id="password" name="password" required="" type="password" value="">
		</div>
                {{ render_field(login_user_form.next) }}
                <p><input class="btn btn-primary" id="submit" name="submit" type="submit" value="{{ _('Login') }}"></p>
            </form>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
{% endblock body %}
