.message .success{
    padding: 10px;
    border: 1px solid #00e640;
    color: #00e640;
}
.message .error{
    padding: 10px;
    border: 1px solid #CF000F;
}

.message_direct .success{
    padding: 10px;
    border: 1px solid #00e640;
    color: #00e640;
}
.message_direct .error{
    padding: 10px;
    border: 1px solid #CF000F;
}

.message_volume .success{
    padding: 10px;
    border: 1px solid #00e640;
    color: #00e640;
}
.message_volume .error{
    padding: 10px;
    border: 1px solid #CF000F;
}

.message_wifi .success{
    padding: 10px;
    border: 1px solid #00e640;
    color: #00e640;
}
.message_wifi .error{
    padding: 10px;
    border: 1px solid #CF000F;
}

.message_camera .success{
    padding: 10px;
    border: 1px solid #00e640;
    color: #00e640;
}
.message_camera .error{
    padding: 10px;
    border: 1px solid #CF000F;
}

.message_ip_camera .success{
    padding: 10px;
    border: 1px solid #00e640;
    color: #00e640;
}

.message_ip_camera .error{
    padding: 10px;
    border: 1px solid #CF000F;
}

.message_activate .success{
    padding: 10px;
    border: 1px solid #00e640;
    color: #00e640;
}
.message_activate .error{
    padding: 10px;
    border: 1px solid #CF000F;
}

.container{
    margin: 0 auto;
}
form .description{
    font-size: 15px;
    color: #00e640;
}
.form-item{
    margin-bottom: 15px;
}
.form-item label{
    font-weight: 700;
    color: rgba(0,0,0,0.86);
    margin-bottom: 8px;
    display: block;
}
.form-item input[type="text"]{
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.form-action button{
     border: 1px solid rgba(0, 0, 0, 0.5);
     padding: 8px 15px;
     background: #FFF;
}