{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} - {{ admin_view.admin.name }}{% endblock title%}</title>

  {% block head_meta %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Admin dashboard login template">
  <meta name="author" content="MQ ICT SOLUTIONS">
  {% endblock head_meta %}

  {% block head_css %}
  <!-- Bootstrap 3.3.6 -->
  <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet"></link>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/ionicons.min.css')}}">
  <!-- Theme style -->
  <link href="{{url_for('static',filename='css/AdminLTE.min.css')}}" rel="stylesheet"></link>
  <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
  <link href="{{url_for('static',filename='css/skins/_all-skins.min.css')}}" rel="stylesheet"></link>
  <!-- iCheck -->
  <link href="{{url_for('static',filename='plugins/iCheck/flat/blue.css')}}" rel="stylesheet"></link>
  <!-- Morris chart -->
  <link href="{{url_for('static',filename='plugins/morris/morris.css')}}" rel="stylesheet"></link>
  <!-- jvectormap -->
  <link href="{{url_for('static',filename='plugins/jvectormap/jquery-jvectormap-1.2.2.css')}}" rel="stylesheet"></link>
  <!-- Date Picker -->
  <link href="{{url_for('static',filename='plugins/datepicker/datepicker3.css')}}" rel="stylesheet"></link>
  <!-- Daterange picker -->
  <link href="{{url_for('static',filename='plugins/daterangepicker/daterangepicker.css')}}" rel="stylesheet"></link>
  <!-- bootstrap wysihtml5 - text editor -->
  <link href="{{url_for('static',filename='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}" rel="stylesheet"></link>
  <!-- Flask-admin admin styles -->
  <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.1') }}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/app.css')}}" rel="stylesheet"></link>
  <link href="{{url_for('static',filename='css/wickedpicker.min.css')}}" rel="stylesheet"></link>

  {% if admin_view.extra_css %}
  {% for css_url in admin_view.extra_css %}
  <link href="{{ css_url }}" rel="stylesheet">
  {% endfor %}
  {% endif %}

  {% endblock head_css%}

  {% block head %}
  {% endblock head%}

  {% block head_tail %}
  {% endblock head_tail%}

</head>
<body class="hold-transition skin-yellow sidebar-mini">

  {% block page_body %}

  <!-- TOP NAVBAR -->
  <div class="wrapper">
    {% if current_user.is_authenticated %}
    <header class="main-header">
      <!-- Logo -->
      {% block brand %}
      <a href="{{ admin_view.admin.url }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>DE</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>{{ admin_view.admin.name }}</b></span>
      </a>
      {% endblock brand%}

      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            
            <!-- Control Sidebar Toggle Button -->
            <!-- <li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li> -->
            <li>
              {% block access_control %}
              {% endblock %}
            </li>
          </ul>

          {% block menu_links %}
          <ul class="nav navbar-nav navbar-right">
            {{ layout.menu_links() }}
          </ul>
          {% endblock %}

        </div>
      </nav>
    </header>
    <!-- / TOP NAVBAR -->

    <!-- LEFT MENU -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <i class="fa fa-user-circle" style="color: white; font-size: 2.5em;"></i>
          </div>
          <div class="pull-left info">
            <p>
             {% if current_user.first_name -%}
             {{ current_user.first_name }}
             {% else -%}
             {{ current_user.email }}
             {%- endif %}
           </p>
           <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
         </div>
       </div>
       <!-- search form -->
       <form action="#" method="get" class="sidebar-form hide">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">{{ _('Main Navigation') }}</li>
        {% block main_menu %}
        {{ layout.menu() }}
        {% endblock %}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content color white-->
  <div class="content-wrapper">
    {% endif %}

    {% block messages %}
    {{ layout.messages() }}
    {% endblock messages %}

    {# store the jinja2 context for form_rules rendering logic #}
    {% set render_ctx = h.resolve_ctx() %}


    {% block body %}

    {% endblock body %}

    {% if current_user.is_authenticated %}
  </div>
  <!-- / Content Wrapper. color white -->


  <footer class="main-footer">
     <strong>{{ _('Copyright &copy; 2020') }}  <a href="https://mqsolutions.vn">MQ ICT SOLUTIONS</a></strong> -
     {{ _('All rights reserved') }}
    <div class="pull-right hidden-xs">
      <b>{{ _('Version') }}</b> 1.0
    </div>
  </footer>
  {% endif %}

</div>
<!-- ./wrapper -->

{% endblock page_body%}

{% block tail_js %}
<!-- jQuery 2.2.3 -->
<script src="{{url_for('static',filename='plugins/jQuery/jquery-2.2.3.min.js')}}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static',filename='js/raphael-min.js')}}"></script>
<script src="{{url_for('static',filename='js/moment.min.js')}}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{ admin_static.url(filename='vendor/select2/select2.min.js', v='3.5.2') }}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/lodash.js')}}"></script>
<script src="{{url_for('static',filename='js/axios.js')}}"></script>
<script src="{{url_for('static',filename='js/wickedpicker.min.js')}}"></script>
{% if admin_view.extra_js %}
{% for js_url in admin_view.extra_js %}
<script src="{{ js_url }}" type="text/javascript"></script>
{% endfor %}
{% endif %}
<!-- Morris.js charts -->
<script src="{{url_for('static',filename='plugins/morris/morris.min.js')}}"></script>
<script src="{{url_for('static',filename='plugins/chartjs/Chart.min.js')}}"></script>
<!-- Sparkline -->
<script src="{{url_for('static',filename='plugins/sparkline/jquery.sparkline.min.js')}}"></script>
<!-- jvectormap -->
<script src="{{url_for('static',filename='plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>    
<script src="{{url_for('static',filename='plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>    
<!-- jQuery Knob Chart -->
<script src="{{url_for('static',filename='plugins/knob/jquery.knob.js')}}"></script>    
<!-- daterangepicker -->
<script src="{{url_for('static',filename='plugins/daterangepicker/daterangepicker.js')}}"></script>    
<!-- datepicker -->
<script src="{{url_for('static',filename='plugins/datepicker/bootstrap-datepicker.js')}}"></script>    
<!-- Bootstrap WYSIHTML5 -->
<script src="{{url_for('static',filename='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}"></script>    
<!-- Slimscroll -->
<script src="{{url_for('static',filename='plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>    
<!-- FastClick -->
<script src="{{url_for('static',filename='plugins/fastclick/fastclick.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{url_for('static',filename='js/app.min.js')}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{url_for('static',filename='js/demo.js')}}"></script>
{% if admin_view.name=="Home" %}
  <script src="{{url_for('static',filename='js/pages/dashboard.js')}}"></script>
{% endif %}

{% endblock tail_js%}

{% block tail %}
{% endblock tail %}

</body>
</html>
