<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Đăng ký điểm danh</title>
  </head>
  <style type="text/css">
    html,
    body {
      font-family: Roboto, Helvetica, sans-serif;
      height: 100%;
      background: #404886;
    }

    li:hover,
    a:hover {
      border-color: none
    }

    .ant-layout {
      background: transparent;
    }


    .container {
      width: 100%;
      margin: 0 auto;
    }

    label {
      color: white;
    }


    .title-notification {
      display: block;
      padding: 100px 0px;
    }

    .title-notification h1 {
      text-align: center;
      color: white;
      line-height: 62px;
      text-transform: uppercase;
    }

    .title-notification span {
      display: block;
    }

    .title-notification img {
      padding-bottom: 34px;
      display: table;
      margin: 0 auto;
    }

    .titlePc {
      display: block;
      padding: 180px 0px;
      font-size: 30px;
    }

    .form-register {
      display: none;
    }

    .form-register img {
      padding: 30px 0px 20px 0px;
      text-align: center;
      margin: 0 auto;
      display: table;
    }

    .form-register h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 26px;
      color: white;
      padding-bottom: 35px;
    }

    .form-register button {
      width: 100%;
      text-transform: uppercase;
      background: #19A3D4;
      font-weight: 600;
      border: none;
      height: 40px;
      padding: 10px;
    }

    #successful-registration {
      padding: 100px 24px;
    }

    .success-main-mqn{
      display: none;
      padding: 100px 0px;
    }

    .success-main-mqn img{
      width: 100px;
      text-align: center;
      margin: 0 auto;
      display: table;
      padding-bottom: 20px;
    }


    .success-main-mqn h1{
      text-align: center;
      color: white;
      font-size: 30px;
      padding-bottom: 10px;
    }

    .success-main-mqn p{
      color: white;
      text-align: center;
    }


    .success-main-mqn button {
      width: 100%;
      text-transform: uppercase;
      background: #19A3D4;
      font-weight: 600;
      border: none;
      height: 40px;
      padding: 10px;
    }


    @media only screen and (max-width: 600px) {

      .form-register {
        display: block;
      }

      .title-notification {
        display: none;
      }

      .success-main-mqn{
        display: block;
      }
    }

  </style>

  <body>
    
    <div id="login-home">
        <div class="container">
          <div class="success-main-mqn">
              <h1>Đăng ký thất bại: {{ msg }}</h1>
              <p>Vui lòng kiểm tra thông tin và thực hiện đăng ký lại theo đường dẫn sau:</p>
              <a href="register"><button type="button" class="btn btn-primary">Trở về đăng ký</button></a>
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
