{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}


{% else %}

<center>
  <section class="content" style="color: white">
      <div class="col-sm-12">
          <h1>Admin</h1>
          <p class="lead">
              Authentication
          </p>
          {% if not current_user.is_authenticated %}
              <p>
                  <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a>
              </p>
              {% endif %}
              <br>
          </div>
      </section>
  </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

{% endblock body %}
