{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<style type="text/css">
.container {
    Width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{ _('Setting') }} 
    <small>{{ _('This is screen for device setting') }}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{ _('Home') }}</a></li>
    <li class="active">{{ _('Setting') }}</li>
  </ol>
</section>

<section class="content">
    <meta charset="UTF-8">
  <div class="row">
    <div class="col-sm-6 col-lg-6 col-xs-12">

      <section class="container">      
        <div class="row">
             <nav class="navbar-left navbar-form mr-md-3">
                                                <select name="bank_code" id="select-language" class="form-control">
                                                  <option value="">{{ _('Lựa chọn ngôn ngữ') }}</option>
                                                  <option value="en">English</option>
                                                  <option value="vi">Tiếng Việt</option>
                                                  <option value="ja">日本語</option>
                                                </select>
                                                <ul class="nav">
                                                  <li class="nav-item">
                                                  </li>
                                                </ul>

             </nav>
	</div>
        </br>
        </hr>        
          <form method="post" id="camera_info">
              <p class="description">{{ _('Box Information') }}</p>
              <div class="form-item">
		              <label for="input-file">{{ _('Serial') }}: {{serial_number}}</label>
                  <label for="input-file">{{ _('Firmware Version') }}: {{version}}</label>
              </div>
          </form>

      </section>
      </br>
      </br>
      </hr>


      <!-- Left col -->
      <section class="container">      
        
          <form method="post" id="wifi_setting">
              <div class="message_wifi">

              </div>
              <p class="description">{{ _('Wifi Setting') }}</p>
              <div class="form-item">
                  <label for="input-file">{{ _('SSID') }}</label>
                  <select class="form-control" id="setting_wifi_ssid" name="setting_wifi_ssid"  placeholder="{{ _('SSID') }}"></select> 
              </div>
              <div class="form-item">
                  <label>{{ _('Password') }}</label>
                  <input class="form-control" id="setting_wifi_password" name="setting_wifi_password" value="" type="password" placeholder="{{ _('Password') }}"/>
              </div>
              <div>
                  <button class="btn btn-info" type="button" id="wifi_scan">{{ _('Scan') }}</button>
                  <button class="btn btn-warning" type="button" id="wifi_save">{{ _('Save') }}</button>
              </div>
          </form>

      </section>
    </br>
    </br>
    </hr>

<!--     </br>
    </br>
    </hr> -->
      <section class="container">      
        
          <form method="post" id="camera_setting" name="camera_setting">
              <div class="message_camera">

              </div>
              <p class="description">{{ _('Server Setting') }}</p>
              <div class="form-item">
                  <label>{{ _('Server URL') }}</label>
                  <input class="form-control"  id="setting_camera_server_url" name="setting_camera_server_url" value="{{ server_url }}" type="text" placeholder="Server URL"/>
              </div>

              <div class="">
                  <button class="btn btn-warning" type="button" id="camera_save">{{ _('Save') }}</button>
              </div>

          </form>

      </section>
      <!-- /.Left col -->

    </br>
    </br>
    </hr>
      <section class="container">      
        
          <form method="post" id="ativation_setting">
              <div class="message_activate">

              </div>
              <p class="description">{{ _('Activate') }}</p>
              <div class="form-item">
                  <label>{{ _('Key') }}</label>
                  <input class="form-control"  id="setting_activate" name="setting_activate" value="" type="text" placeholder="{{ _('Activate Key') }}"/>
              </div>
              <div class="">
                  <button class="btn btn-warning" type="button" id="activate_save">{{ _('Save') }}</button>
              </div>
          </form>
      </section>

      </br>
      </br>
    </div>
  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->

{% else %}

<center>
  <section class="content" style="color: white">
      <div class="col-sm-12">
          <h1>{{ _('Admin') }}</h1>
          <p class="lead">
	      {{ _('Authentication') }}
          </p>
          {% if not current_user.is_authenticated %}
              <p>
                  <a class="btn btn-primary" href="{{ url_for('security.login') }}">{{ _('Login') }}</a>
              </p>
              {% endif %}
              <br>
              <p>
                  <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> {{ _('Back') }}</a>
              </p>
          </div>
      </section>
  </center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  {% endif %}
 <script src="{{url_for('static',filename='plugins/jQuery/jquery-2.2.3.min.js')}}"></script>
 <script type="text/javascript">
  var startOff = '{{ startOff }}'
  var endOff = '{{ endOff }}'
  if (startOff == "")
    startOff = "00:00";
  if (endOff == "")
    endOff = "00:00";
   $('select[id="select-language"]').change(function(e) {
   	    var language = document.getElementById("select-language").value;
            var lang = { 'lang': language }
            console.log(language)  
            $.ajax({
                url: '/translate',
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                dataType: 'json',
                data: JSON.stringify(lang),
                success: location.reload()
              });
   });
</script>
  {% endblock body %}

 
