{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}


<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{ _('Streaming') }} 
    <small>{{ _('This is streaming screen') }}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{ _('Home') }}</a></li>
    <li class="active">{{ _('Streaming') }}</li>
  </ol>
</section>

<section class="content">

  <div class="row">
    <!-- Left col -->
    

    <section class="container">  
      <div class="row">
       {% if video0 %}
        <div class="col-md-12">
          <iframe id="stream1"  style="width:100%;height:576px;border:none"></iframe>
        </div>
       {% endif %}
       {% if video1 %}
        <div class="col-md-12">
          <iframe id="stream2"  style="width:100%;height:576px;border:none"></iframe>
        </div>
       {% endif %}
      </div>
    </section>
  
  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->

{% else %}

<center>
  <section class="content" style="color: white">
      <div class="col-sm-12">
          <h1>{{ _('Admin') }}</h1>
          {% if not current_user.is_authenticated %}
              <p>
                  <a class="btn btn-primary" href="{{ url_for('security.login') }}">{{ _('Login') }}</a>
              </p>
              {% endif %}
              <br>
          
          </div>
      </section>
  </center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  {% endif %}

    <script type="text/javascript">
	document.getElementById('stream1').src = "http://" + window.location.hostname + ":7777";
	document.getElementById('stream2').src = "http://" + window.location.hostname + ":8888";
    </script>
  {% endblock body %}
 
