{% extends 'admin/model/list.html' %}

{% block body %}
    {{ super() }}

    <div class="modal fade" tabindex="-1" role="dialog" id="changeModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <a href="{{ url }}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
            {% if add_modal %}
            <h4 class="modal-title">Add new users</h4>
            {% endif %}
            {% if set_modal %}
            <h4 class="modal-title">Set new users</h4>
            {% endif %}
            
          </div>
          <div class="modal-body">
              {% if add_modal %}
                  {{ lib.render_form(add_user_form, cancel_url=url, action=url_for('history.update_view', url=url)) }}
              {% endif %}

              {% if set_modal %}
                  {{ lib.render_form(set_user_form, cancel_url=url, action=url_for('history.update_view1', url=url)) }}
              {% endif %}

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock body %}

{% block tail %}
    {{ super() }}
    <script>
        {% if add_modal %}
            $(document).ready(function(){
                $("#changeModal").modal('show');
            });
        {% endif %}
        {% if set_modal %}
            $(document).ready(function(){
                $("#changeModal").modal('show');
            });
        {% endif %}
    </script>
{% endblock tail %}